.not-found-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-width: 100vw;
  min-height: 100vh;
}

.heading {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Bree Serif';
  font-weight: bold;
}
